// Red scheme
$dark-red: #6A0B0B;
$red: #B53838;
$light-red: #D24545;

// Dates
$light-black: #2F2F2F;
$grey: #EBEBEB;
$light-grey: #DDDDDD;
$extra-grey: #FAFAFA;


// Black and white
$black: #000000;
$white: #ffffff

