.sport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    max-width: 1230px;
    margin: 0 auto;
    
    &__section {
        background-color: $extra-grey;
        padding: 100px 0 80px 0;
    }

    &__heading {
        position: absolute;
        top: -45px;
        @include featured;
        font-size: 20px;
        line-height: 23.87px;
        }

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 22%;

        & > img {
            margin-bottom: 18px;
            max-width: 270px;
        }

        &--heading {
            @include news-heading;
            padding-bottom: 18px;
        }

        &--date {
            @include news-dates;
        }
    }
}


@media screen and (max-width: 1200px) {
    .sport {
        padding: 0 15%;
        flex-direction: column;
        align-items: center;

        &__article {
            max-width: none;
            width: 100%;
            margin: 5% 0;

            & > img {
                max-width: none;
            }
        }
    }
}